/* Login.css */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 300px;
  margin: 0 auto;
}

input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button2 {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 1px;
  margin: 10px 0;
  cursor: pointer;
}

.button2:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
  margin-top: 10px;
}

a:hover {
  text-decoration: underline;
}
